<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/datas.css">
</head>
<body>
    <div class="container">
        <% for (dataEach of data[0]["trends"]) { %>
            <!-- <p><%= dataEach['name'] %></p>
            <p><%= dataEach["url"] %></p> -->
            <!-- <p><a href="<%= dataEach['url'] %>" target="_blank"><%= dataEach["name"] %></a></p> -->
            <div class="item">
                <a href="<%= dataEach['url'] %>" target="_blank"><%= dataEach["name"] %></a>
            </div>
        <% } %>
    </div>
</body>
</html>